*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Orange: hsl(26, 100%, 55%);
    --Pale-orange: hsl(25, 100%, 94%);

    --Very-dark-blue: hsl(220, 13%, 13%);
    --Dark-grayish-blue: hsl(219, 9%, 45%);
    --Grayish-blue: hsl(220, 14%, 75%);
    --Light-grayish-blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 28%);
    --Black-low-opacity: rgb(0, 0, 0, 0.15);
}


/* designing header component */
.header{
    /* background-color: var(--Dark-grayish-blue); */
    padding-block: 2rem;
    padding-inline: 2.4rem;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--Black-low-opacity);
}

.nav{
    align-items: center;
    justify-content: space-between;
    width: 55%;

}

.logo{
    font-size: 3.2rem;
    font-weight: 600;
    letter-spacing: -0.95px;
}

.nav-items{
    gap: 2rem;
    list-style: none;
    font-size: 1.6rem;
    text-transform: capitalize;
    color: var(--Very-dark-blue);
}

.nav-close{
    display: none;
}

.nav-item{
    position: relative;
    transition: all 500ms ease-in;
}

.nav-item::after{
    content: "";
    height: 0.4rem;
    width: 100%;
    position: absolute;
    top: 5.2rem;
    right: 0;
    background-color: var(--Orange);
    visibility: hidden;
}

.nav-item:hover.nav-item::after{
    visibility: visible;
}

.user-profile{
    gap: 3.2rem;
}

.cart-icon{
    color: var(--Black);
    height: 2rem;
}

.cart-container{
    position: relative;
}

.cart-badge{
    background-color: var(--Orange);
    color: #fff;
    font-size: .8rem;
    height: 1.2rem;
    width: 1.76rem;
    font-weight: 800;
    text-align: center;
    display: inline-block;
    border-radius: 2rem;
    position: absolute;
    bottom: 1.6rem;
    left: 1rem;
}

.checkout-container{
    z-index: 11;
    position: absolute;
    background-color: #fff;
    width: 30rem;
    height: 20rem;
    left: 50%;
    top: 4rem;
    transform: translateX(-50%);
    border-radius: 1.2rem;
    box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.35);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    overflow: hidden;
}

.cart-title,
.cart-empty-msg{
    font-size: 1.2rem;
    font-weight: 800;
    letter-spacing: 0.035rem;
    color: var(--Black);
}

.cart-title{
    border-bottom: 1px solid rgba(43, 44, 46, 0.25);
    align-items: center;
    padding: .8rem 1.2rem 0  ;
}
/* when cart is empty */
.cart-empty-msg{
    position: absolute;
    top: 5rem;
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(100% - 5rem );
    width: 100%;
    background-color: transparent;
    color: var(--Grayish-blue);
}

/* when cart is full */
.cart-full{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1.6rem;
    padding: 1.2rem;
    height: 100%;
}

.cart-details{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    place-items: center;
}

.cart-details img{
    aspect-ratio: 1/1;
    height: 4.8rem;
    margin-right: .8rem;
}

.prdt-text-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.prdt-title{
    font-size: 1.36rem;
    text-transform: capitalize;
    font-weight: 600;
    color: var(--Dark-grayish-blue);
}

.price{
    font-size: 1.2rem;
}

.cart-details svg{
    cursor: pointer;
}

.checkout-btn{
    background-color: var(--Orange);
    color: #fff;
    border-radius: 1.2rem;
    border: none;
    font-size: 1.32rem;
    font-weight: 600;
    letter-spacing: 0.035rem;
    cursor: pointer;
    text-transform: capitalize;
}

.profile-image{
    aspect-ratio: 1/1;
    width: 4.4rem;
}

/* Designing product page */
.product-page{
    height: calc(100% - 84.8px);
    padding: 8rem 2rem 0 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.image-active, .image-active img{
    aspect-ratio: 1/1;
    height: 40rem;
    border-radius: 1.2rem;
    position: relative;
}

.img-btn{
    position: absolute;
    z-index: 3;
    height: 4.8rem;
    width: 4.8rem;
    background-color: white;
    border: none;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
    color: var(--Black);
}

.img-btn svg{
    height: 2.8rem;
}

#prev-img{
    left: .8rem;
}

#next-img{
    /* left: 100%; */
    right: .8rem;
}

.image-thumbnails{
    display: flex;
    gap: 2.4rem;
    margin-top: 2.4rem;
}

.tb-img{
    aspect-ratio: 1/1;
    height: 8rem;
    border-radius: 1.2rem;
}

.tb-active{
    position: relative;
    opacity: 0.35;
}

.tb-img:hover{
    outline: 3px solid var(--Orange);
    cursor: pointer;
}


/* Desingning the description part */
.detail-container{
    flex-direction: column;
    /* justify-content: center; */
    padding: 2.4rem 0 0 4rem;
}

/* product description container */
.description{
    flex-direction: column;
    gap: 1.6rem;
    margin-bottom: 2rem;
}

/* orange highlighted text */

.highlight{
    color: var(--Orange);
    font-size: 1.2rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.075rem;
}

.product-title{
    text-transform: capitalize;
    font-size: 3.6rem;
    color: var(--Black);
    margin-bottom: 1.6rem;
}

.product-desc{
    font-size: 1.6rem;
    color: var(--Dark-grayish-blue);
}

/* designing the holder for price and offer */
.price-holder{
    display: flex;
    flex-direction: column;
    gap: .4rem;
    margin-bottom: 2.4rem;
}

.new-price-offer{
    display: flex;
    gap: 1.6rem;
    align-items: center;
}

.new-price-offer h2{
    font-size: 2.4rem;
    color: var(--Black);
}

.offer{
    background-color: var(--Pale-orange);
    color: var(--Orange);
    font-size: 1.2rem;
    font-weight: 800;
    padding: .2rem .4rem;
    border-radius: .4rem;
}

.old-price{
    color: var(--Grayish-blue);
    font-size: 1.3rem;
    font-weight: 800;
}

/* styling cta container */
.cta{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 1.6rem;
    align-items: center;
    padding: 0 5.2rem 0 1.2rem;
    height: 4rem;
}

.counter,
#decrease,
#increase{
    font-size: 1.6rem;
    font-weight: 800;
    background-color: transparent;
    border: none;
}

.counter{
    background-color: var(--Light-grayish-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-inline: 1.2rem;
    border-radius: .8rem;
}



#decrease,
#increase{
    color: var(--Orange);
    rotate: 90deg;  
    cursor: pointer;
    height: 4rem;
    width: 4rem;
}

#increase{
    font-size: 2rem;
}

.add-to-cart-btn{
    gap: 1.2rem;
    border-radius: .8rem;
    background-color: var(--Orange);
    color: #fff;
    border: none;
    height: 100%;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
}

.add-to-cart-btn svg{
    color: #fff;
}
